:root {
  --color-white: #ffffffde;
  --color-black: #242424;
  --color-gray: #52525b;

  color-scheme: light dark;
  color: var(--color-black);
  background-color: var(--color-white);
}

@media (prefers-color-scheme: dark) {
  :root {
    color: var(--color-white);
    background-color: var(--color-black);
  }
}

body {
  font-family: 'Lexend', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-optical-sizing: auto;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

figure {
  margin: 0;
}
